<% @page_title = "Events" %>

<div class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <h2><%= @period %> events</h2>
    <br>
    <div class = 'events'>
      <ul>
        <% @events.each do |event|%>
        <li class = "hosted-event">
          <div class = 'time'>
            <h4> <%= event.date.strftime('%d %B') %> <h3>
            </div>
            <div class = 'details'>
              <h4> <%=event.name%> </h3>
              <p> <%= event.description%> </p>
              <span> Location: <%= event.location %>
              <%= button_to "Join", {controller: 'explore_events', action: 'join_event', event: event.id}, method: :post, local: true, class: 'btn btn-primary join' %>
            </div>

        </li>
        <%end%>
      </ul>
    </div>
  </div>
</div>

