<% @page_title = "Events" %>

<div class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <h2>Recently Announced</h2>
    <br>
    <div class = 'events'>
      <ul>
        <% @recently_added.each do |event|%>
        <li class = "hosted-event">
          <div class = 'time'>
            <h4> <%= event.date.strftime('%d %B') %> <h3>
            </div>
            <div class = 'details'>
              <h4> <%=event.name%> </h3>
              <p> <%= event.description%> </p>
              <span> Location: <%= event.location %>
              <%= button_to "Join", {controller: 'explore_events', action: 'join_event', event: event.id}, method: :post, local: true, class: 'btn btn-primary join' %>
            </div>

        </li>
        <%end%>
      </ul>

    </div>
  </div>
</div>


<div class="navbar navbar-light bg-light">
  <div class="container-fluid">
<h2> Find Events </h2>
<div class="find_events">
  <%= form_with :url => student_attempt_find_events_path, :method => :post, :local => true do |f| %>
    <div class="input-group input-group-prepend">
      <div class="custom-control custom-radio">
        <%= f.radio_button :date, :today, :checked => true, :class => "custom-control-input", :id => "customRadio1" %>
        <label class="custom-control-label" for="customRadio1">Today</label>
      </div><br>
      <div class="custom-control custom-radio">
        <%= f.radio_button :date, :week,  :class => "custom-control-input", :id => "customRadio2" %>
        <label class="custom-control-label" for="customRadio2">This week</label>
      </div><br>

      <div class="custom-control custom-radio">
        <%= f.radio_button :date, :month, :class => "custom-control-input", :id => "customRadio3" %>
        <label class="custom-control-label" for="customRadio3">This month</label>
      </div>

      <%= f.submit "Find Events", :class => "btn btn-primary find" %>
    </div>
  <% end %>
</div>
</div>
</div>

